body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

img {
  width: 500px;
  height: 350px;
}

.hello {
  background-image: url("../images/header_bg.png");
  background-size: 100% 100%;
  width: 350px;
  height: 500px;
}
